@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lalezar&family=Lilita+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0C0A0F;
    margin: auto;
    overflow: visible;
}

header {
    position: fixed;
    width: 100%;
    background-color: #0C0A0F;
    top: 0;
}

header div#cab {
    padding: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

header h1, li{
    color: white;
}

header h1 {
    padding: 2px 2px 0px 2px;
    width: 270px;
    background: linear-gradient(to right,#354EB0, #1C1A6D);
    text-align: center;
    font-family: 'Lalezar', system-ui;
    font-weight: 500;
    font-size: 3em;
    border-radius: 20px;
}

header ul {
    display: flex;
    gap: 40px;
}

header ul li {
    font-family: 'Lalezar', system-ui;
    font-weight: 500;
    font-size: 2.5em;
    text-decoration: underline;
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
}

header a::after {
    color: blue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#home {
    width: 100%;
    height: 157px;
    background-color: #0C0A0F;
}

div#homeR {
    background-image: url('img/computer-program-coding-screen\ 1.png');
    background-size: cover;
    width: 100%;
    height: 441px;
    margin: 20px 0;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

div#homeR h2 {
    color: white;
    font-family: 'Lilita one', sans-serif;
    font-weight: 500;
    font-size: 4em;

    padding: 200px 0px; 
}

div#homeR img {
    height: 441px;
    width: 400px;
}

div#s_title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 170px;
}

div#s_title h3 {
    font-size: 40px;
    font-family: 'Lilita one', sans-serif;
    font-weight: 500;
    font-size: 6em;
    color: #1C1C1C;
}

div#s_title h2 {
    z-index: 30;
    font-family: 'Lilita one', sans-serif;
    font-weight: 500;
    font-size: 2.1em;
    margin-left: -375px;
}

#line_1 {
    width: 750px;
    margin-bottom: 20px;
}

div#sobre {
    background-color: #0c16417c;
    width: 900px;
    height: 450px;
    padding: 50px;
    border-radius: 20px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#sobre img {
    width: 250px;
}

div#sobre p {
    font-family: 'Lalezar', system-ui;
    font-weight: 500;
    font-size: 1.3em;
    color: white;
}

.line {
    height: 3px;
    background-color: #1C1C1C;
}